* {
  margin: 0;
  padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.header {
  margin-top: 5px;
}
.header ul {
  text-decoration: none;
  list-style-type: none;
  font-size: 13px;
  padding: 10px;
}
a {
  text-decoration: none;
  color: rgb(46, 41, 41);
  display: block;
}

.rightnav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 13px
}
nav ul li button{
    width: 70px;
    height: 30px;
    color: white;
    background-color: blue;
    border-radius: 3px;
    border-style: none;
    font-weight: 1000;
    cursor:pointer;

}
/* Navigation bar completed*/

/* Logo and search bar section*/

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searching {
    width: 580px;
    height: 45px;
    border-radius: 25px;
    border: 1px solid rgb(211, 211, 211);
}
#searching:hover,
#searching:focus-within {
    border-color: white;
    box-shadow: 0 1px 6px 0 rgba(31, 31, 32, 0.28);
}
#search-icon {
    color: rgb(132, 145, 158);
    position:absolute;
    margin: 14px 0 0 15px;
    cursor: default;
}
.search-input img {
    position: relative;
    right: 43px;px;
    top: 8px;

}